{#
/**
 * @file
 * Theme to present remote person.
 *
 * This template is used when viewing a remote person to
 * interact with.
 *
 * Available variables:
 * - person: The person with variables coming from remote person
 * as in: https://www.w3.org/TR/activitystreams-vocabulary/#dfn-person
 *
 * @see template_preprocess_activitypub_remote_person()
 */
#}
 {{ person }}
<h4>{{ person.preferredUsername }}</h4>
<p>{{ person.summary|striptags }}</p>
<small><a href="{{ person.url }}">{{ person.preferredUsername }}</a></small>
