{#
/**
 * @file
 * Theme to present remote activity.
 *
 * This template is used when viewing a remote activity to
 * interact with.
 *
 * Available variables:
 * - activity: The activity with variables coming from remote activity same as:
 *
 * @see template_preprocess_activitypub_remote_activity()
 */
#}
<p>{{ activity.content|striptags }}</p>
<small>{{ 'from'|t }}:<a href="{{ activity.url }}">{{ activity.url }}</a></small>
